.main
  .main__top
    =link_to "groups/:id/edit", class: "main__top--edit" do
      Edit
    .main__top--title
      test-group
    .main__top--member
      Member : test-user
  .main__contents
    .main__contents--talkr
      test-user
    .main__contents--time  
      2019/09/08(Sun) 15:00:00 
    .main__contents--message
      こんにちは
    .main__contents--talkr
      test-user
    .main__contents--time  
      2019/09/08(Sun) 15:30:00 
    .main__contents--message
      さようなら
  .main__form 
    =form_for [@group, @message] do |form|
      =form.text_field :body, placeholder: "type a message", class: "input"
      %label(for="upload" class="image-icon")
        = fa_icon "image"
      =form.file_field :image, id: "upload" 
      =form.submit "Send", class: "submit-btn"
= render "shared/side_header" 
