.main
  .main__top
    =link_to edit_group_path(@group.id), class: "main__top--edit" do
      Edit
    .main__top--title
      =@group.name
    .main__top--member
      Member : 
      -@member.each do |member|
        =member.name
  .main__display
    =render partial: "message", collection: @messages
  .main__form 
    =form_for [@group, @message] do |form|
      =form.text_field :body, placeholder: "type a message", class: "input"
      %label(for="upload" class="image-icon")
        = fa_icon "image"
      =form.file_field :image, id: "upload" 
      =form.submit "Send", class: "submit-btn"
= render "shared/side_header" 