.main
  .main__top
    =link_to "groups/:id/edit", class: "main__top--edit" do
      Edit
    .main__top--title
      test-group
    .main__top--member
      Member : test-user
  .main__contents
    .main__contents--talkr
      test-user
    .main__contents--time  
      2019/09/08(Sun) 15:00:00 
    .main__contents--message
      こんにちは
    .main__contents--talkr
      test-user
    .main__contents--time  
      2019/09/08(Sun) 15:30:00 
    .main__contents--message
      さようなら
  .main__form 
    %form(action="" method="post" enctype="multipart/form-data")
      %label(for="upload" class="image-icon")
        = fa_icon "image"      
      %input(type="file" id="upload")/
      %input(class="input" type="text" name="message" placeholder="type a message")/
      %span<>
      %input(class="submit-btn" type="submit" name="commit" value="Send")/
= render "shared/side_header" 
